<%= simple_form_for([:control_center, @user], :html => {:multipart => true}) do |f| %>
	<%= f.input :ogi_uid %>
	<%= f.input :char_id %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :language %>
	<%= f.input :birthday %>
	<%= f.input :gender %>
	<%= f.input :premium_time %>
	<%= f.input :user_status %>
	<%= f.input :alliance_id %>
	<%= f.input :ref_id %>
	<%= f.button :submit %>
<% end %>
