<h1>Listing users</h1>

<table>
	<tr>
		<th>Ogi uid</th>
		<th>Char</th>
		<th>Name</th>
		<th>Email</th>
		<th>Language</th>
		<th>Birthday</th>
		<th>Gender</th>
		<th>Premium tmie</th>
		<th>User status</th>
		<th>Guild</th>
		<th>Ref</th>
		<th>Login count</th>
		<th>Failed login count</th>
		<th>Last request at</th>
		<th>Current login at</th>
		<th>Last login at</th>
		<th>Current login ip</th>
		<th>Last login ip</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.ogi_uid %></td>
			<td><%= user.char_id %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.language %></td>
			<td><%= user.birthday %></td>
			<td><%= user.gender %></td>
			<td><%= user.premium_time %></td>
			<td><%= user.user_status %></td>
			<td><%= user.alliance_id %></td>
			<td><%= user.ref_id %></td>
			<td><%= user.login_count %></td>
			<td><%= user.failed_login_count %></td>
			<td><%= user.last_request_at %></td>
			<td><%= user.current_login_at %></td>
			<td><%= user.last_login_at %></td>
			<td><%= user.current_login_ip %></td>
			<td><%= user.last_login_ip %></td>
			<td><%= link_to "Login", login_control_center_users_path(:id => user.id), :target => :blank %></td>
			<td><%= link_to 'Check', check_user_control_center_users_path(:id => user.id) %></td>
			<td><%= link_to 'Show', control_center_user_path(:id => user.id) %></td>
			<td><%= link_to 'Edit', edit_control_center_user_path(:id => user.id) %></td>
			<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
</table>
