<div class="box" style="width: 50%; float: left;">
	<h1><%= t 'Register' %></h1>

	<%= t "Registration is free" %>

	<% if 'development'.include?(Rails.env) %>
		<%= simple_form_for(@user, :url => user_path) do |f| %>
			<%= f.input :name, :input_html => {:size => 20} %>
			<%= f.input :email, :input_html => {:size => 20} %>
			<%= f.input :password, :input_html => {:size => 20} %>
			<%= f.input :password_repeat, :input_html => {:size => 20} %>
			<%= f.submit t('Play now'), {class: 'large_btn'} %>
		<% end %>
	<% else %>
		<a href="<%= authorize_url %>"><%= image_tag "ogi_small_logo.png", :style => 'float: left;', :alt => 'Onlinegames-Info.com' %></a>
	<% end %>
</div>

<div class="box" style="width: 50%; float: left;">
	<h1><%= t 'Login' %></h1>

	<div style="float:left">
		<a href="<%= authorize_url %>"><%= image_tag "ogi_small_logo.png", :style => 'float: left;', :alt => 'Onlinegames-Info.com' %></a>
	</div>

	<% if 'development'.include?(Rails.env) %>
		<a href="http://apps.facebook.com/piratebay-game/"><img src="/images/facebook.png" alt="Facebook"/></a>
	<% end %>
</div>

<div style="clear: both;"></div>
