<%= form_tag([:control_center, @language]) do |f| %>
	<% if @language.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@language.errors.count, "error") %> prohibited this user from being saved:</h2>

			<ul>
				<% @language.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :short %><br />
		<%= f.text_field :short %>
	</p>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
