<h1>Listing languages</h1>

<table>
  <tr>
    <th>Short</th>
    <th>Name</th>
  </tr>

<% @languages.each do |language| %>
  <tr>
    <td><%=h language.short %></td>
    <td><%=h language.name %></td>
    <td><%= link_to 'Show', control_center_language_path(language) %></td>
    <td><%= link_to 'Edit', edit_control_center_language_path(language) %></td>
    <td><%= link_to 'Destroy', control_center_language_path(language), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New language', new_control_center_language_path %>
