<p>
	<b>Short:</b>
	<%=h @language.short %>
</p>

<p>
	<b>Name:</b>
	<%=h @language.name %>
</p>


<%= link_to 'Edit', edit_admin_language_path(@language) %> |
<%= link_to 'Back', admin_languages_path %>