<%= form_for([:control_center, @user_role]) do |f| %>
  <% if @user_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_role.errors.count, "error") %> prohibited this user_role from being saved:</h2>

      <ul>
      <% @user_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
