<h1>Listing user_roles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_roles.each do |user_role| %>
  <tr>
    <td><%= user_role.user_id %></td>
    <td><%= user_role.role %></td>
    <td><%= link_to 'Show', control_center_user_role_path(user_role) %></td>
    <td><%= link_to 'Edit', edit_control_center_user_role_path(user_role) %></td>
    <td><%= link_to 'Destroy', control_center_user_role_path(user_role), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User role', new_control_center_user_role_path %>
