<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_role.user_id %>
</p>

<p>
  <b>Role:</b>
  <%= @user_role.role %>
</p>


<%= link_to 'Edit', edit_control_center_user_role_path(@user_role) %> |
<%= link_to 'Back', control_center_user_roles_path %>
