<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link href="/admin/admin.css" media="screen" rel="stylesheet" type="text/css" />
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tag %>
	</head>

	<body>
		<div id="main">
			<div id="menu">
				<ul>
					<li><%= link_to 'Users', control_center_users_path(), {:class => (controller.controller_name == 'users')?'selected':''} %></li>
					<li><%= link_to 'User Roles', control_center_user_roles_path(), {:class => (controller.controller_name == 'user_roles')?'selected':''} %></li>
					<li><%= link_to 'Languages', control_center_languages_url(), {:class => (controller.controller_name == 'languages')?'selected':''} %></li>
					<li style="text-align: center;">------------------------------</li>
					<%= render :partial => 'layouts/admin_menu' %>
					<li><%= link_to 'Logout', logout_path %></li>
				</ul>
			</div>
			<div id="content">
				<% for name in [:notice, :warning, :message] %>
					<% if flash[name] %>
						<div id="flash_msg">
							<b><%= t("notice") %></b>
							<div id="<%= name %>">
								<div><%= flash[name] %></div>
							</div>
						</div>
					<% end %>
				<% end %>

				<%= yield %>
			</div>

			<div style="clear: both;"></div>

			<div id="footer">
				<div id="copy_r"><a href="http://www.odania-it.de" target="_blank">Copyright by Mike Petersen Odania IT</a></div>
			</div>
		</div>
	</body>
</html>
